# In node box editor mode, snapping makes node boxes
# snap to pixels
snapping = true

# limiting stops node boxes going out of node bounds
limiting = true

# Directory to save projects and export to.
# Should be absolute path.
save_directory =

# The editor should attempt to find Minetest automatically
# If it fails, enter an absolute path to the minetest root folder, eg:
#     c://Games/Minetest/
#     /home/rubenwardy/Game/Minetest/
# Do not include bin/minetest or bin/minetest.exe in the root.
minetest_root = 

# The view of each viewport
# can be: pers, front, back, top, bottom, left, right
viewport_top_left = pers
viewport_top_right = top
viewport_bottom_left = front
viewport_bottom_right = right

# Lighting
# 0: no lighting / shadows
# 1: Depth lighting (things further away from camera are darker) (TODO)
# 2: Normal lighting (like in Minetest)
lighting = 2

# If true, nodes that are not selected will be hidden
# when not in the node tool
hide_other_nodes = true

# Move all nodes up when a node is placed at negative y
no_negative_node_y = true

# Driver used to render
driver = opengl

# Hide the sidebar
hide_sidebar = false

# Whether the position draw handle should be shown
always_show_position_handle = false

# Vertical syncronisation
dont_use_vsync = false

# Enable this if vsync is not working for you
use_sleep = false

# Screen settings
fullscreen = false
width = 896
height = 520
