[Desktop Entry]
Name=Node Box Editor
GenericName=Minetest Node Box Editor
Comment=Edit and create node boxes for Minetest
Exec=nodeboxeditor
Icon=/usr/local/share/nodeboxeditor/media/icon.png
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
